<<<<<<< HEAD
<h1>Editing comment</h1>
=======
<h1>Editing Comment</h1>
>>>>>>> cf2da54ed3d9f6ceae1e05b0ad6ca95998bc044e

<%= render 'form' %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
