<<<<<<< HEAD
<h1>Listing comments</h1>
=======
<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>
>>>>>>> cf2da54ed3d9f6ceae1e05b0ad6ca95998bc044e

<table>
  <thead>
    <tr>
      <th>Post</th>
<<<<<<< HEAD
      <th>Integer</th>
=======
>>>>>>> cf2da54ed3d9f6ceae1e05b0ad6ca95998bc044e
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.post_id %></td>
<<<<<<< HEAD
        <td><%= comment.integer %></td>
=======
>>>>>>> cf2da54ed3d9f6ceae1e05b0ad6ca95998bc044e
        <td><%= comment.body %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
