<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
<<<<<<< HEAD
  <strong>Integer:</strong>
  <%= @comment.integer %>
</p>

<p>
=======
>>>>>>> cf2da54ed3d9f6ceae1e05b0ad6ca95998bc044e
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
