<<<<<<< HEAD
<h1>Editing post</h1>
=======
<h1>Editing Post</h1>
>>>>>>> cf2da54ed3d9f6ceae1e05b0ad6ca95998bc044e

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
