<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Workspace</title>
=======
  <title>Blog</title>
>>>>>>> cf2da54ed3d9f6ceae1e05b0ad6ca95998bc044e
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
